.navbar-nav .nav-link.active {
    color: white;
    background-color: orange;
}

body {
    background-color: black;
}

h1, h2, h3, p {
    color: white;
}

h2 {
    padding: 15px;
}

.nav-link {
    font-family: "Open Sans", sans-serif;
    color: white;
}

.nav-link:hover {
    color: orange;
}

#menu {
    background-color: rgb(58, 58, 58);
}

.nav-link {
    text-align: center;
}

section {
    height: auto;
    padding-top: 120px;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999; 
}

.carousel-inner {
    height: 900px;
}

#logo {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
}

.card {
    width: 300px;
    height: 500px;
}

label {
    color: white;
}

.logos img {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

#pagamento {
    width: auto;
    height: 30px;
}

footer {
    padding-top: 60px;
}

footer a {
    color: white;
    display: block;
    text-decoration: none;
}

#copyright {
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
}

#email, #telefone {
    cursor: pointer;
}

.card-title {
    font-weight: bold;
}

.card-text {
    font-weight: 500;
}

.card-subtitle {
    font-weight: bold;
    color: orange;
}

.btn {
    height: 60px;
    width: 260px;
}

.card-body a {
    font-size: 23px;
    font-weight: bold;
}

.btn-laranja {
    border-radius: 10px;
    background-color: darkorange;
    color: white;
}

.btn-laranja:hover {
    background-color: orange;
}
