.navbar-nav .nav-link.active {
    color: white;
    background-color: orange;
}

body {
    background-color: black;
}

h1, h2, h3, p {
    color: white;
}

h2 {
    padding: 15px;
}

.nav-link {
    font-family: "Open Sans", sans-serif;
    color: white;
}

.nav-link:hover {
    color: orange;
}

#menu {
    background-color: rgb(58, 58, 58);
}

.nav-link {
    text-align: center;
}

section {
    height: auto;
    padding-top: 120px;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999; 
}

#logo {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
}

.card {
    width: 300px;
    height: 500px;
}

label {
    color: white;
}

.logos img {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

#pagamento {
    width: auto;
    height: 30px;
}

footer {
    padding-top: 60px;
}

footer a {
    color: white;
    display: block;
    text-decoration: none;
}

#copyright {
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
}

#email, #telefone {
    cursor: pointer;
}

/* Adiciona margem automática para centralizar os cards horizontalmente */
.card {
    margin-left: auto;
    margin-right: auto;
}

.card-title {
    font-weight: bold;
}

.card-text {
    font-weight: 500;
}

.card-subtitle {
    font-weight: bold;
    color: orange;
}

.btn {
    height: 60px;
    width: 260px;
}

.card-body button {
    font-size: 23px;
    font-weight: bold;
}

.btn-laranja {
    border-radius: 10px;
    background-color: darkorange;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-laranja i {
    margin-right: 8px; /* Espaço entre o ícone e o texto */
}

.btn-laranja:hover {
    background-color: orange;
}

#submit-button {
    margin-top: 20px;
    height: 40px;
    width: 80px;
}

/* Adiciona uma transição suave ao colapsar e expandir a altura do menu */
.navbar-collapse {
    transition: height 0.3s ease;
}

/* Força o menu a ser exibido quando o colapso está ativo (ou seja, quando o botão de menu é clicado) */
.navbar-collapse.show {
    display: black !important;
}


#cabecalho .carousel-inner img {
    width: 1920px;
    height: 760px;
    object-fit: cover;
}


/* Celulares */
@media (max-width: 576px), (min-width: 577px) and (max-width:767px) {
    .footer-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-links {
        display: flex;
        gap: 15px;
        justify-content: center;
    }
}

/* Pequenos desktops */
@media (min-width:768px) and (max-width:991px) {
    #pay {
        text-align: center;
        margin: 0 160px;
    }

    #pay img {
        display: block;
    }
}
